@import url(./3A0445_0_0.woff2);
@import url(./3A0445_2_0.woff2);
@import url(./3A0445_3_0.woff2);
@import url(./3A0445_4_0.woff2);
@import url(./fontsstyle.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: gilroy, sans-serif;
}

.icon {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon .icon-btn {
  width: 20px;
  background-color: white;
  height: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 5px;
  -webkit-transform: all 0.5s ease-in-out;
          transform: all 0.5s ease-in-out;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.icon-btn::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 5px;
  -webkit-transform: all 0.5s ease-in-out;
          transform: all 0.5s ease-in-out;
}

.icon-btn::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: white;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 5px;
  -webkit-transform: all 0.5s ease-in-out;
          transform: all 0.5s ease-in-out;
}

.icon-btn:hover {
  background-color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon-btn:hover::after {
  background-color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon-btn:hover::before {
  background-color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon.open .icon-btn {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icon.open .icon-btn::after {
  -webkit-transform: rotate(-45deg) translate(30px, 30px);
          transform: rotate(-45deg) translate(30px, 30px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.icon.open .icon-btn::before {
  -webkit-transform: rotate(45deg) translate(30px, -30px);
          transform: rotate(45deg) translate(30px, -30px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.content {
  position: relative;
  padding: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgba(0, 0, 0, 0.712);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 0;
  display: none;
}

.content.active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.menu {
  height: auto;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 960px) {
  .menu {
    width: 45vw;
  }
}

@media (max-width: 410px) {
  .menu {
    width: 65vw;
  }
}

.menu ul {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: right;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 3em;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  background-color: #0cb2c1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  color: #0cb2c1;
}

.menu ul li a:hover::after {
  width: 100px;
}

section.home {
  height: 130vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.575)), color-stop(black), to(black)), url(./img/Home.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.575) 50%, black, black), url(./img/Home.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

section.home .text-over-wr {
  height: 80vh;
  width: 90vw;
}

section.home .text-over-wr .text-over {
  height: 65vh;
  background-color: rgba(0, 0, 0, 0.781);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}

section.home .text-over-wr .text-over h1 {
  width: 60%;
  font-weight: 500;
  font-size: calc(6vw + 10px);
}

section.home .text-over-wr .text-over h1 span {
  color: transparent;
  font-size: 14vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #0cb2c1), color-stop(25%, #09a489), color-stop(40%, #09a489), color-stop(60%, #ffae00), color-stop(80%, #ffae00), color-stop(95%, #0cb2c1), to(#0cb2c1));
  background: linear-gradient(90deg, #0cb2c1 10%, #09a489 25%, #09a489 40%, #ffae00 60%, #ffae00 80%, #0cb2c1 95%, #0cb2c1);
  -webkit-background-clip: text;
  font-weight: 600;
  background-size: 300%;
  -webkit-animation: bmove 20s linear infinite;
          animation: bmove 20s linear infinite;
}

@-webkit-keyframes bmove {
  0% {
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes bmove {
  0% {
  }
  100% {
    background-position-x: 100%;
  }
}

section.home .text-over-wr .text-over .aaa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 50%;
  -ms-flex-item-align: revert;
      align-self: revert;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.home .text-over-wr .text-over .aaa p:nth-child(4) {
  border: none;
}

section.home .text-over-wr .text-over .aaa p {
  padding: 2px 20px 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 3px solid white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section.home .text-over-wr .text-over .aaa p:hover {
  color: #0cb2c1;
  border-color: #0cb2c1;
}

@media (max-width: 400px) {
  .menu ul li a {
    font-size: 2.5em;
  }
  section.home .text-over-wr .text-over {
    height: 50vh;
  }
  section.home .text-over-wr .text-over .aaa p {
    padding: 5px 5px;
    border: none;
  }
}

section.bbb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 130px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.973)), color-stop(rgba(0, 0, 0, 0.966)), to(rgba(0, 0, 0, 0.945))), url(./img/Lens.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.966), rgba(0, 0, 0, 0.945)), url(./img/Lens.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 600px) {
  section.bbb {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section.bbb .b1 {
  position: relative;
}

section.bbb .b1 h2 {
  font-size: 2.7em;
  color: white;
}

section.bbb .b1::after {
  content: "";
  position: absolute;
  top: -200px;
  left: -30px;
  width: 2px;
  background-color: white;
  height: 600px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

section.bbb .bimg img {
  width: 500px;
  mix-blend-mode: color-dodge;
  -webkit-filter: hue-rotate(19deg) brightness(1);
          filter: hue-rotate(19deg) brightness(1);
  -webkit-animation: change 4s linear infinite;
          animation: change 4s linear infinite;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@-webkit-keyframes change {
  100% {
    -webkit-filter: hue-rotate(55deg) brightness(1);
            filter: hue-rotate(55deg) brightness(1);
    scale: 1.1;
  }
}

@keyframes change {
  100% {
    -webkit-filter: hue-rotate(55deg) brightness(1);
            filter: hue-rotate(55deg) brightness(1);
    scale: 1.1;
  }
}
/*# sourceMappingURL=style.css.map */