$col1: #0cb2c1;
$col1: #037c84;
$drk: #4a5764;
$lig: #919191;
$sdrk: #616161;
$lin-g: linear-gradient(90deg, #a49058, #473b1b);
$lin-g2: linear-gradient(
  90deg,
  #0cb2c1 10%,
  #09a489 25%,
  #09a489 40%,
  #ffae00 60%,
  #ffae00 80%,
  #0cb2c1 95%,
  #0cb2c1
);

$gil: Gilroy;
@import url(./3A0445_0_0.woff2);
@import url(./3A0445_2_0.woff2);
@import url(./3A0445_3_0.woff2);
@import url(./3A0445_4_0.woff2);
@import url(./fontsstyle.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: gilroy, sans-serif;
}
nav {
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.158);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
  padding: 0 0 0 10px;
  z-index: 10000000000000000000000;
  a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
    &:hover {
      color: #0cd2e4;
    }
  }
}

.icon {
  position: relative;
  z-index: 100000;
  top: 0;
  right: 10px;
  justify-content: center;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 7px 20px 0 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  align-items: center;
  .icon-btn {
    width: 20px;
    background-color: white;
    height: 2px;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    transform: all 0.5s ease-in-out;
    transform: rotateX(180deg);
    // z-index: 10000000;
  }
}

.icon-btn::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: white;
  transform: translateY(-10px);
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  transform: all 0.5s ease-in-out;
}

.icon-btn::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: white;
  transform: translateY(10px);
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  transform: all 0.5s ease-in-out;
}

.icon-btn:hover {
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.icon-btn:hover::after {
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.icon-btn:hover::before {
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.icon.open .icon-btn {
  transform: translateX(-40px);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  //   background-color: white;
}

.icon.open .icon-btn::after {
  transform: rotate(-45deg) translate(30px, 30px);
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.icon.open .icon-btn::before {
  transform: rotate(45deg) translate(30px, -30px);
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.content {
  position: fixed;
  // display: flex;
  padding: 20px;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  align-items: center;
  transition: 1s all ease-in-out;
  // z-index: 0;
  backdrop-filter: blur(30px);
  opacity: 0;
  // visibility: collapse;
  display: none;
}

.content.active {
  opacity: 1;
  // visibility: visible;
  display: flex;
  position: fixed;
  // left: 0;
  // top: 0;
  z-index: 100;
}

// End of imported styles........................................................................................................///

.menu {
  height: auto;
  width: 25vw;
  display: flex;
  overflow: hidden;
  @media (max-width: 960px) {
    width: 45vw;
  }
  @media (max-width: 410px) {
    width: 65vw;
  }
  ul {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // overflow: hidden;
    text-align: right;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 3em;
        font-weight: 700;
        transition: all 0.4s ease;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 3px;
          background-color: #0cb2c1;
          transform: translate(0, 0);
          top: 50%;
          transition: all 0.3s ease;
        }
        &:hover {
          color: #0cb2c1;
        }
        &:hover::after {
          width: 100px;
        }
      }
    }
  }
}
// End of Navbar.........................................................................................................//////

// Welcome to gidatech...................................................................................................//////

section.home {
  height: 90vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.575) 50%,
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    ),
    url(./img/Home.jpg);
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: left;

  .text-over-wr {
    height: auto;
    width: 90vw;

    .text-over {
      height: 65vh;
      background-color: rgba(0, 0, 0, 0.781);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      h1 {
        width: 60%;
        font-weight: 100 !important;
        font-size: calc(6vw + 10px);
        font-family: Roboto;

        span {
          color: transparent;
          font-size: 14vw;
          background: $lin-g2;
          font-weight: 900 !important;
          -webkit-background-clip: text;
          font-family: Roboto;

          background-size: 300%;
          animation: bmove 20s linear infinite;

          @keyframes bmove {
            0% {
            }
            100% {
              background-position-x: 100%;
            }
          }
        }
      }
      .aaa {
        display: flex;
        flex-basis: 1;
        width: 50%;
        transition: all 0.3s ease;
        flex-direction: column;
        align-items: flex-start;
        font-family: roboto !important;
        font-weight: 100 !important;

        p:nth-child(4) {
          border: none;
        }

        p {
          padding: 2px 20px 5px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          // border-right: 3px solid white;
          transition: all 0.2s ease;
          &:hover {
            color: #0cb2c1;
            border-color: #0cb2c1;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .menu ul li a {
    font-size: 2.5em;
  }
  section.home .text-over-wr .text-over {
    height: 50vh;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
  }
  section.home .text-over-wr .text-over .aaa p {
    padding: 5px 5px;
    border: none;
  }
}
// @media (max-width: 450px) {
//   .text-over {
//     .aaa {
//       display: none;
//     }
//   }
// }
section.bbb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 28px 32px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.973),
      rgba(0, 0, 0, 0.966),
      rgba(0, 0, 0, 0.945)
    ),
    url(./img/Lens.jpg);
  background-size: cover;
  background-position: center;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
  .b1 {
    position: relative;
    h2 {
      font-family: roboto;
      font-weight: 400;
      width: calc(43vw + 109px);
      font-size: 1.9em;
      color: white;
      text-align: center;
    }
    &::after {
      content: "";
      position: absolute;
      top: -19vw;
      left: 11vw;
      width: 2px;
      background-color: white;
      height: 450px;
      transform-origin: bottom;

      transform: translate(50%, -50%);
      @media (max-width: 1184px) {
        top: -10vw;
        left: 12vw;
        width: 2px;
        background-color: white;
        height: 231px;
      }
      @media (max-width: 1000px) {
        top: -9vw;
        left: -6vw;
        width: 2px;
        background-color: white;
        height: 270px;
      }
    }
  }
  .bimg img {
    width: calc(40vw + 107px);
    mix-blend-mode: hard-light;
    filter: hue-rotate(19deg) brightness(1);
    animation: change 4s linear infinite;
    transition: all 0.5s linear;
    margin-top: 20px;
    @keyframes change {
      70% {
        filter: hue-rotate(55deg) brightness(1);
        scale: 1.1;
      }
      100% {
        filter: hue-rotate(55deg) brightness(1);
        scale: 1;
      }
    }
  }
}
section.ccc {
  height: auto;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.897),
      rgba(255, 255, 255, 0.719)
    ),
    url(./img/street-cctv2.jpg);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 70px 37px;

  .ctext {
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      margin-bottom: 20px;
      color: rgb(24, 22, 22);
      span:not(:nth-child(4)) {
        font-weight: 200;
        z-index: 1;
        text-align: center;
      }
      span:nth-child(4) {
        font-family: roboto;
        font-size: 1.2em;
        font-weight: 400;
        color: #1b1b1b;
        text-align: center;
      }
      span {
        .und {
          text-decoration: underline;
          text-decoration-color: #473b1b;
          text-underline-offset: 5px;
        }
      }
    }
    .rect {
      position: relative;
      width: 64vw;
      height: 55vw;
      // top: 10vw;
      // right: 10vw;
      background: url(./gida/smart3.jpg);
      background-size: cover;
      // border: 1px solid black;
      padding: 20px;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        // padding: 20px;
        position: absolute;
        align-self: center;
        // border: 0 2px 2px 0 dashed rgba(0, 0, 0, 0.712);
        border-right: 2px dashed black;
        border-bottom: 2px dashed black;
        border-spacing: 10;
        mix-blend-mode: hard-light;
      }
    }
    .cir {
      position: absolute;
      width: 160px;
      height: 160px;
      top: -91px;
      left: -147px;
      border-radius: 50vw;

      background: linear-gradient(#0cb2c1bb, #0cb2c175), url(./img/lock.jpg);
      background-size: contain;
      background-position: right;
      animation: rot2 7s linear infinite forwards normal;
      @keyframes rot2 {
        0% {
          box-shadow: none;
        }
        99% {
          box-shadow: 1px 2px 8px white;
        }
        100% {
          box-shadow: 1px 2px 10px white;
        }
      }
      .bcir {
        position: relative;
        width: 190px;
        height: 190px;
        transform: translate(-38px, -39px);
        top: -14px;
        left: -13px;

        border: 2px dashed white;
        mix-blend-mode: difference;
        border-radius: 50vw;
        animation: rot 15s linear infinite;

        @keyframes rot {
          0% {
            transform: rotate(0deg);
          }
          100% {
            // transform: translate3d(0px, 0px, 0px) rotateX(0deg)
            //   rotateY(0deg) rotateZ(360deg);
            transform: rotate(-360deg);
          }
        }
      }
    }
  }
}
section.ddd {
  height: auto;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.719)),
    url(./img/street-cctv2.jpg);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 70px 37px;

  .dtext {
    width: 100%;
    position: relative;
    gap: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      margin-bottom: 20px;
      color: rgb(255, 255, 255);
      span:not(:nth-child(4)) {
        font-weight: 200;
        z-index: 1;
        text-align: center;
      }
      span:nth-child(4) {
        font-weight: 600;
        font-size: 1.3em;
        color: #1b1b1b;
        text-align: center;
      }
      span {
        .und {
          text-decoration: underline;
          text-decoration-color: #0cd2e4;
          text-underline-offset: 5px;
        }
      }
    }
    .rect {
      position: relative;
      width: 64vw;
      height: 55vw;
      // top: 10vw;
      // right: 10vw;
      background: url(./gida/darkliving.jpg);
      background-size: cover;
      background-position: center;
      // border: 1px solid black;
      padding: 20px 0;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        // padding: 20px;
        position: absolute;
        align-self: center;
        margin-left: -24px;
        // border: 0 2px 2px 0 dashed rgba(0, 0, 0, 0.712);
        border-left: 2px dashed #0cd2e4;
        // border-bottom: 2px dashed black;
        // border-spacing: 10;
        // mix-blend-mode: hard-light;
      }
    }
  }
}
footer.faa {
  height: auto;
  width: 100%;
  background: linear-gradient(rgb(44, 44, 44), rgba(41, 41, 41, 0.938)),
    url(./gida/darkliving.jpg);
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 50px 20px;
  text-align: center;
  color: #dfdfdf;
  .addr {
    p {
      display: flex;
      flex-direction: column;
      font-size: 0.75em;
      word-spacing: 1px;
      letter-spacing: 0.6px;
    }
  }
  .hr {
    height: 2px;
    width: 90%;
    background-color: #dfdfdf;
  }
  .phone {
    // gap: 30px;

    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #dfdfdf;
      font-size: 0.75em;
      word-spacing: 1px;
      letter-spacing: 0.6px;
    }
  }
  .copywr {
    font-size: 0.75em;
    word-spacing: 1px;
    letter-spacing: 0.6px;
    a {
      text-decoration: none;
      color: #dfdfdf;
      &:hover {
        color: #0cd2e4;
      }
    }
  }
  .iconswr {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    a {
      font-size: 13px;
      text-decoration: none;
      color: #dfdfdf;
      transition: all 0.2s ease;
      &:hover {
        scale: 1.1;
      }
    }
    .icons {
      width: 70%;
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  }
}

// About stylings----------------------------------------------------------------------------------------//
section.about {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.897),
      rgba(255, 255, 255, 0.719)
    ),
    url(./img/worker.jpg);
  background-size: cover;
  padding: 75px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  .abtext {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p:nth-child(1) {
      font-family: poppins;
      font-weight: 700;
      line-height: 0.97;
      font-size: 1.1em;
      letter-spacing: -0.9px;
      word-spacing: 2px;
      position: relative;
      margin-bottom: 20px;

      p:nth-child(2) {
        font-family: $gil;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: black;
        height: 2px;
        width: 80px;
        left: -10px;
        top: -10px;
        border-radius: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: black;
        height: 2px;
        width: 80px;
        top: calc(100% + 8px);
        left: -10px;
        border-radius: 20px;
      }
    }
  }
}
section.abbb {
  background: #1b1b1b;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px;
  h3 {
    color: white;
    font-family: poppins;
    font-weight: 400;
    margin: 20px;
    width: 65%;
    display: flex;
    position: relative;
    flex-direction: column;
    ::after {
      content: " '' ";
      position: absolute;
      top: -35px;
      left: -20px;
      // width: 30px;
      font-size: 4em;
    }
  }
  .abbbimg {
    position: relative;
    height: 370px;
    width: 267px;
    padding: 30px;
    background: linear-gradient(#4a5764, #4a576400);

    &::after {
      content: "";
      position: absolute;
      height: 150px;
      width: 150px;
      background: linear-gradient(#555555b2, #4e4e4e94), url(./img/worker2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      //  background-position: -80px 10px;
      border-radius: 50%;
      z-index: 20;
      bottom: -50px;
      right: -11vw;
      backdrop-filter: blur(100px);
      transition: all 0.3s ease;
      @media (max-width: 340px) {
        width: 120px;
        height: 120px;
        right: -4vw;
      }
    }
    img {
      position: absolute;
      object-fit: cover;
      // top: 10px;
      // left: 10px;
      width: 280px;
      height: 350px;
      @media (max-width: 341px) {
        width: 76vw;
        height: 100vw;
      }
    }
  }
}
section.about2 {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.897),
      rgba(255, 255, 255, 0.719)
    ),
    url(./img/worker.jpg);
  background-size: cover;
  padding: 175px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  &::after {
    width: 100%;
    content: "";
    height: 100px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, black, transparent);
    left: 0;
  }
  .abtext2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-family: $gil;

      line-height: 1;
      font-size: 1.1em;
      letter-spacing: -0.8px;
      word-spacing: 2px;
      position: relative;
      margin-bottom: 20px;
      font-weight: 600;
      &::after {
        content: "";
        position: absolute;
        background-color: black;
        height: 2px;
        width: 80px;
        left: -10px;
        top: -10px;
        border-radius: 20px;
      }
      &::before {
        content: "";
        // position: sticky;
        width: 2px;
        position: absolute;
        background-color: white;
        mix-blend-mode: difference;
        right: 50%;
        transform: translate(0, 220px);
        height: 122px;
      }
    }
  }
}
section.val {
  height: auto;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.966));
  width: 100%;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
  color: white;
  .valtxt {
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
    p {
      display: flex;
      flex-direction: column;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -33px;
        left: 10px;
        height: 2px;
        width: 50px;
        background-color: #4a5764;
      }

      span {
        font-family: poppins;
        font-weight: 700;
        font-size: 1.3em;
        color: #4a5764;
        line-height: 1.7;
      }
    }
  }
  .valtxt2 {
    p {
      font-family: poppins;
      width: 90%;
      font-size: 1em;
      text-align: left;
    }
    width: 80%;
  }
}
